<h1>Obituaries search</h1>
<form action="/obituaries" method="post">
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% if paginator %}
{{ paginator.items|length }}
{% for item in paginator.items %}
<div>{{ item.first_name }} {{ item.middle_name }} {{ item.last_name }}</div>
{% endfor %}
<div class="paginator">
{{ paginator|paginate }}
</div>
{% endif %}